h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.orange-higlight{
    color: orange;
}
.link-profile
{
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background-image: linear-gradient(lightSalmon,tomato);
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;

}

.half-width img{
    width: 100%;
}
.heading{
    background-image: url("images/top-banner.png");
    height: 700px;
    background-repeat: no-repeat;
}
body{
    margin: 0px;
}

.big-dream
{
    height: 700PX;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}
p{
    color: dimgray;
}
.exper-part{
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    height: 80%;
    

} 
.experience
{
    height: 600px;
    background-image: url("images/exp-bg.png");

    background-position: left;
    background-repeat: no-repeat;
}

#exp-p1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg ,lightSalmon,tomato);
    border-image-slice: 1;
}
#exp-p2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}

